  #whole { 
    width: 7200px;
     height: 100%;
    overflow: auto;
    overflow-y: hidden;

   }

    #animation {
    position: relative;
    height: 100%;
    width: 1440px;
    background-color: #111111;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    float:left; 
  }

    #where {
    position: relative;
    height: 100%;
    width: 1440px;
    background-color: #222222;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    float:left; 
  }

  #placelist{
        position: relative;
        top: 60px;
        left: 30px;
  height: 600px;
    width: 700px;
        background-color: #999999;
    border : 1px solid #000;
}

    .place{
    height: 200px;
    width: 700px;
    border : 0px solid #000;
    margin-bottom: 10px;
    float:left; 
  }

      #call {
    position: relative;
    height: 100%;
    width: 1440px;
    background-image: url("./images/bg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    float:left; 
  }

  #dropzone {
    position: relative;
  	height: 100%;
  	width: 1440px;
  	background-image: url("./images/bg.png");
  	background-size: 100% 100%;
  	background-repeat: no-repeat;
    float:left; 
  }

  .faceitem{
  	height: 100px;
  	width: 100px;
  	border : 0px solid #000;
  	float:left; 
  }

#facelist{
	height: 200px;
  	width: 300px;
  	border : 0px solid #000;	
}

.arrow{
  position: absolute;
    top: 50%;
/*    border : 1px solid #000;*/
}

#arrowr{
    height: 100px;
    width: 100px;
right: 50px;

}

#arrowl{
      height: 100px;
    width: 100px;
    left: 50px;
}

#goal{
    position: relative;
    height: 100%;
    width: 1440px;
    background-image: url("./images/goal.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;

    float:left; 
}


